<div class="container" style="border: 1px">
  <div class="row">
    <div class="col d" style="border: 1px solid red; height: 50vh">D</div>
    <div class="col dos an" style="border: 1px solid red; height: 25vh">A</div>
    <div class="col dos an" style="border: 1px solid red; height: 25vh">N</div>
    <div class="col dos an" style="border: 1px solid red; height: 25vh">I</div>
    <div class="col dos an" style="border: 1px solid red; height: 25vh">E</div>
    <div class="col dos an" style="border: 1px solid red; height: 25vh">L</div>
  </div>
</div>

<div class="container" style="border: 1px">
  <div class="row row-cols-lg-5 row-cols-md-5 row-cols-sm-5">
    <div class="col" style="border: 1px solid blue; height: 50vh">G</div>
    <div class="col dos" style="border: 1px solid blue; height: 25vh">O</div>
    <div class="col dos" style="border: 1px solid blue; height: 25vh">M</div>
    <div class="col dos" style="border: 1px solid blue; height: 25vh">E</div>
    <div class="col dos" style="border: 1px solid blue; height: 25vh">Z</div>
  </div>
</div>
